

{{!--
<label>Product  : </label>{{model.[10].ProductName}}<br>
<label>Dimension : </label> {{#link-to 'production.dimension' model.[10].DimensionName  }}{{model.[10].DimensionName}}{{/link-to}} <br>
<label>Boards : </label>{{model.[10].BoardsSum}}<br>
<label>BoardFeet: </label>{{model.[10].BoardFeetSum}}<br>
--}}

{{!--  {{#each model as |product|}}
  This product's dimensions are : {{product.DimensionName}} <br>
{{/each}} --}}

<br><br>

{{loopy-loader start_date=start_date end_date=end_date start_time=start_time end_time=end_time
load=(route-action 'loadData') }}


<h2>
  {{#link-to 'production' start end}}
    <!--these values are set to update as their updated in the view-model-->
  <!--using unbound means you would have to tell it to update to the new value through the .js file-->
    Production From {{unbound start_time}} to {{unbound end_time}}
  {{/link-to}}

</h2>


{{outlet}}