

{{!--
<label>Product  : </label>{{model.[10].ProductName}}<br>
<label>Dimension : </label> {{#link-to 'production.dimension' model.[10].DimensionName  }}{{model.[10].DimensionName}}{{/link-to}} <br>
<label>Boards : </label>{{model.[10].BoardsSum}}<br>
<label>BoardFeet: </label>{{model.[10].BoardFeetSum}}<br>
--}}

{{!--  {{#each model as |product|}}
  This product's dimensions are : {{product.DimensionName}} <br>
{{/each}} --}}

<br><br>

<header class="details">
	<span>
		<form {{action 'loadData' on='submit'}}>	
			<p>
				Start Date : {{pikaday-input value=start_date format="mm/dd/yyyy"}} <br>
			</p>
				 
			<p>
				End Date : {{pikaday-input value=end_date format="mm/dd/yyyy"}} <br>
			</p>

			<p>
				Start Time : {{input value=start_time	}}
			</p>

			<p>
				End Time : {{input value=end_time	}}
			</p>

			<p>
				<button type='submit'>Load Data</button>
			</p>
		</form>
	</span>
</header>
	

<h2>Production</h2>
 

{{outlet}}