<h2>Production route's header</h2>

{{!--
<label>Product  : </label>{{model.[10].ProductName}}<br>
<label>Dimension : </label> {{#link-to 'production.dimension' model.[10].DimensionName  }}{{model.[10].DimensionName}}{{/link-to}} <br>
<label>Boards : </label>{{model.[10].BoardsSum}}<br>
<label>BoardFeet: </label>{{model.[10].BoardFeetSum}}<br>
--}}

{{!--  {{#each model as |product|}}
  This product's dimensions are : {{product.DimensionName}} <br>
{{/each}} --}}

<br><br>
{{!--  {{pikaday-input format="mm/dd/yyyy"}} --}} <br>

{{outlet}}